<nav class="navbar " style="background-color: rgba(91, 66, 110, 0.445);">
  <!-- Container wrapper -->
  <div class="topnav" id="myTopnav" >
    <div class="container">
      <a class="text-white" [routerLink]="['Login']" style="padding: 10px;font-size: 15px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Login</a>
      <a class="text-white" (click)="informacion()" style="padding: 10px;font-size: 15px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">informacion</a>
      <a class="text-white" [routerLink]="['Historia']" style="padding: 10px;font-size: 15px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Historial</a>
      <a class="text-white" [routerLink]="['Coach']" style="padding: 10px;font-size: 15px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Coach</a>
      <a class="text-white" [routerLink]="['Graficas/Live']" style="padding: 10px;font-size: 15px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Graficas Live</a>
	  <a class="text-white" [routerLink]="['NewFunc']" style="padding: 10px;font-size: 15px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Nuevas Funcionalidades</a>
      <a class="text-white" (click)="LogOut()" style="padding: 10px;font-size: 15px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Cerar Sesion</a>
      <a class="text-white"  style="padding: 10px;font-size: 15px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" #HORA></a>
    </div>
</div>
  <!-- Container wrapper -->
</nav>

