<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(91, 66, 110, 0.445);">
    <a class="navbar-brand text-white">TVE</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink]="['Login']">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['Historia']">Historial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['Coach']">Coach</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['Graficas/Live']">Graficas Live</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand text-white CSESION" (click)="LogOut()" >Cerrar Sesion</a>
  </nav>