#FIRST{
    border-left: 2px solid #2f4f4f;
}
#LAST{
    border-right: 2px solid #2f4f4f;
}
.ContTab{
    
}
.Button{
    color: white;
    border-top: 2px solid #2f4f4f;
    border-bottom: 2px solid #2f4f4f;
    padding: 5px;
    border-right: 1px solid #2f4f4f;
}
span:hover{
    cursor: pointer;
    margin-top: -3px;
}
.TAB{
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
}
.active{
    background-color:#2f4f4f;
    padding-bottom: 3px;
    margin-top: -3px;
}

/*dropdown-item*/
.dropdown-item:hover{
    cursor: pointer;
}

/*Style Table Status*/
.tg  {border-collapse:collapse;border-color:#93a1a1;border-spacing:0;}
.tg td{background-color:#fdf6e3;border-color:#93a1a1;border-style:solid;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:1px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-w747{background-color:#dae8fc;text-align:left;vertical-align:top}
.tg .tg-ywlh{border-color:inherit;color:#efefef;text-align:left;vertical-align:top}